<!--Image Progress -->
<div class=" flex gap-2 h-[15px] justify-center">
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-follow w-[15px] h-full rounded-full">
    </div>
    <div class=" bg-white w-[15px] h-full rounded-full border-2 border-follow">
    </div>
    <div class=" bg-white w-[15px] h-full rounded-full border-2 border-follow">
    </div>
    <div class=" bg-white w-[15px] h-full rounded-full border-2 border-follow">
    </div>
    <div class=" bg-white w-[15px] h-full rounded-full border-2 border-follow ">
    </div>
    <div class=" bg-white w-[15px] h-full rounded-full border-2 border-follow ">
    </div>
</div>
<!-- Image Progress -->