---
// import MagnifyingGlass from 'astro-heroicons/outline/MagnifyingGlass.astro'
import { Icon } from 'astro-icon';
// import { Img } from "astro-imagetools/components";

---

<body >

    <div class="min-h-screen">
    <!-- card -->
    <section >
        <div class=" grid grid-rows bg-white mx-8">

            <!-- menu section -->
            <div class="flex justify-center h-[100px] w-full mt-4">

                <div class=" bg-follow h-full w-28 p-1 rounded-tl-3xl rounded-bl-3xl flex items-center">
                    <Icon name="icono_busqueda" class="p-2" style={{ fill: "white" }}/>
                </div>

                <div class=" flex-grow">
                    <input type="search" class=" bg-slate-200 px-4 rounded-tr-3xl rounded-br-3xl h-full w-full text-5xl focus:outline-none"
                    placeholder="Buscar" x-model="search">
                </div>
            </div>

            <!-- Tiempo restante -->
            <div class="flex items-center justify-between text-3xl my-8 mx-4 gap-10">
                <p> Tiempo Estimado: <span class=" font-bold"> 5 Minutos </span> </p>
                <p> Progreso actual: <span class=" font-bold"> 38% </span> </p>
            </div>
            <!-- Tiempo restante -->

            <!-- Progress -->
            <div class=" flex gap-2 h-[30px] mx-24 mb-6 justify-center">
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
               
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-follow w-[30px] h-full rounded-full">
                </div>
                <div class=" bg-white w-[30px] h-full rounded-full border-2 border-follow">
                </div>
                <div class=" bg-white w-[30px] h-full rounded-full border-2 border-follow">
                </div>
                <div class=" bg-white w-[30px] h-full rounded-full border-2 border-follow">
                </div>
                <div class=" bg-white w-[30px] h-full rounded-full border-2 border-follow ">
                </div>
            </div>
            <!-- Progress -->
            
        </div>
    </section>
    <!-- card -->

    <!-- Image Section -->
    <section class=" grid grid-rows bg-slate-100 px-8 py-6">
        <!-- Indication Section -->
        <div class="flex bg-follow items-center h-[130px] rounded-t-3xl">
            <h3 class="text-white text-5xl font-semibold mx-auto">Sigue recto</h3>
        </div>
        <!-- Image -->
        <div class="relative ">
            <img src="https://winbox-assets.sfo3.digitaloceanspaces.com/followtest/IMG_1911.jpg" alt=""  class="object-contain h-full w-full rounded-b-lg">

            <div class="absolute top-14 w-full flex justify-end items-center px-8 h-[100px] ">

                <div class= " flex flex-col items-center justify-center bg-white w-[150px] h-[150px] rounded-3xl">
                    <h4 class=" text-[34px] text-gray-800 pt-4">
                        Etapa
                    </h4>
                    <h4 class="text-follow text-7xl font-extrabold pb-4">
                        5
                    </h4>
                </div>
            </div>

            <div class="absolute bottom-20 grid grid-cols-3 w-full">

                <div class="col-start-2 place-self-center">
                    <div class="w-56 h-56 rounded-full border-2 border-white shadow-2xl Dark-gray-blue-alpha flex justify-center items-center"> 
                        <img class="rounded-full w-full h-full" src="/src/images/flecha.svg" alt="">
                    </div>
                </div>

                <div class= " place-self-end  mr-10">
                    <h4 class="text-white text-5xl font-medium">Piso 1</h4>
                </div>
            </div>

        </div>
    </section>
    <!-- Image Section -->

    <footer >
        <div class=" bg-slate-400">
            
        </div>
    </footer>
    
    </div>
</body>