---
import MagnifyingGlass from 'astro-heroicons/outline/MagnifyingGlass.astro'
---

<body class=" bg-slate-200 min-h-screen ">
    <section >
        <!-- card -->
        <div class=" grid grid-rows bg-white m-5 shadow-lg shadow-Dark-gray-blue-alpha rounded-xl">

            <!-- menu section -->
            <div class="grid grid-cols-10 place-items-center pt-10">
                <div class=" col-start-2 col-span-8 w-full gap-2 ">

                    <div class="grid grid-cols-10 gap-2">

                        <div class="col-span-1 bg-follow rounded-xl">
                            <MagnifyingGlass class=" text-white h-14 p-3 mx-auto"/>
                        </div>

                        <div class="col-span-7">
                            <input type="search" class=" bg-slate-100 w-full px-4 rounded-xl h-14 text-2xl focus:outline-none"
                            placeholder="Buscar" x-model="search">
                        </div>
                        
                        <div class="col-span-2 w-full">
                            <button class=" bg-red-500 w-full text-white rounded-xl text-2xl h-14"> Iniciar </button>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Tiempo restante -->
            <div class="flex place-content-between items-center mx-24 text-2xl my-12">
                    <p> Tiempo Estimado: <span class=" text-follow font-bold"> 2 Minutos </span> </p>
                    <p> Progreso actual: <span class=" text-follow font-bold"> 38% </span> </p>
            </div>
            <!-- Tiempo restante -->

            <!-- Progress -->
            <div class=" grid grid-cols-12 gap-2 h-[12px]">
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-follow">
                </div>
                <div class=" bg-slate-300">
                </div>
                <div class=" bg-slate-300">
                </div>
                <div class=" bg-slate-300">
                </div>
                <div class=" bg-slate-300">
                </div>
            </div>
            <!-- Progress -->
            
        </div>
        
        <!-- card -->
    </section>
    <!-- menu section -->

    <!-- Indicaciones Section -->
    <section>
        <!-- <div class=" bg-green-600 h-20">

        </div> -->
    </section>
    <!-- Indicaciones Section -->



</body>