---
---

<div class=" grid justify-center content-center min-h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('https://mediaweb.sfo3.cdn.digitaloceanspaces.com/backgroundFollowme.jpg');">
    
        <form class="flex flex-col content-center justify-center bg-white shadow-xl shadow-slate-500 rounded-2xl p-3 h-[800px] w-[600px]" action="">
            
            <div class="justify-center mx-auto md:h-[80px] md:w-[250px] sm:h-[300px] sm:[700px]">
                <!-- <Icon name="logo"/> -->
                <img class="h-full w-full " src="https://mediaweb.sfo3.cdn.digitaloceanspaces.com/logo.svg" alt="">
            </div>
            <div>
                <label for="username" class="text-4xl mt-2 text-center pt-2 text-gray-800 dark:text-gray-200">Usuario</label>
                <input class="flex items-center text-center h-16 text-3xl px-14 w-full bg-white border-2 border-gray-500  mt-16  rounded focus:outline-none focus:ring-2" placeholder="Correo electronico" type="text">
            </div>
    
            <div class="mt-4">
                <div class="flex items-center justify-between">
                    <label for="password" class="text-4xl mt-2 text-center pt-2 text-gray-800 dark:text-gray-200">Clave</label>
                </div>
    
                <input class="flex items-center h-16 text-center text-3xl px-14 w-full bg-white border-2 border-gray-500 mt-4 rounded focus:outline-none focus:ring-2" placeholder="Contrasena" type="password">
            </div>
            <div>
                <a class="text-blue-400 text-2xl justify-center hover:text-follow">Olvidaste la contrasena?</a>
            </div>
    
            <div class="md:mt-6">
                <button class="w-full md:px-6 md:py-2.5 md:text-sm sm:text-5xl font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-follow rounded-lg hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
                    Entrar
                </button>
            </div>
        </form>
        
        <p class="md:mt-8 md:text-xs sm:text-3xl font-light text-center text-gray-400"> No tienes una cuenta <a href="#" class="md:font-medium text-gray-700 dark:text-gray-200 hover:underline">Crea una </a></p>
    <footer class="grid fixed bottom-0 left-0 z-20 w-full h-[230px] p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6">
        <div>
            <img class="h-full w-full " src="https://mediaweb.sfo3.cdn.digitaloceanspaces.com/logo.svg" alt="">
        </div>
        <div>
            <img class="h-full w-full " src="https://mediaweb.sfo3.cdn.digitaloceanspaces.com/logo.svg" alt="">
        </div>        
    </footer>
</div>
