---
import MagnifyingGlass from 'astro-heroicons/outline/MagnifyingGlass.astro'
---

<body class=" bg-white min-h-screen ">
    <section >
        <!-- card -->
        <div class=" grid grid-rows bg-white m-5 mb-0 rounded-xl">

            <!-- menu section -->
            <div class="grid grid-cols-12 place-items-center pt-10">
                <div class=" col-start-0 col-span-12 w-full ">

                    <div class="grid grid-cols-10">

                        <div class="col-span-1 bg-follow rounded-l-2xl ">
                            <MagnifyingGlass class=" text-white h-full p-3 mx-auto "/>
                        </div>

                        <div class="col-span-8 p-0">
                            <input type="search" class=" bg-slate-100 w-full px-4 h-full text-2xl focus:outline-none"
                            placeholder="Buscar" x-model="search">
                        </div>
                        
                        <div class="col-span-1 w-full">
                            <button class=" bg-follow w-full text-white rounded-r-2xl text-2xl h-full">
                                <MagnifyingGlass class=" text-white h-full p-3 mx-auto"/>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Tiempo restante -->
            <div class="flex place-content-between items-center mx-24 text-3xl my-7">
                    <p> Tiempo Estimado: <span class=" text-follow font-bold"> 2 Minutos </span> </p>
                    <p> Progreso actual: <span class=" text-follow font-bold"> 38% </span> </p>
            </div>
            <!-- Tiempo restante -->

            <!-- Progress -->
            <div class=" grid grid-cols-12 h-[40px]">
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" bg-follow w-[40px] rounded-full">
                </div>
                <div class=" border-2 border-follow w-[40px] rounded-full">
                </div>
                <div class=" border-2 border-follow w-[40px] rounded-full">
                </div>
                <div class=" border-2 border-follow w-[40px] rounded-full">
                </div>
                <div class=" border-2 border-follow w-[40px] rounded-full">
                </div>
            </div>
            <!-- Progress -->
            
        </div>
        <!-- card -->
    </section>
    <!-- menu section -->

    <!-- Image Section -->
    <section class=" grid grid-rows px-6 py-6 mt-0 ">
        <!-- Indication Section -->
        <div class=" flex bg-follow items-center h-[170px] rounded-t-3xl mb-0 pb-0 ">
            <h3 class="text-white text-[50px] font-normal mx-auto">Sigue recto</h3>
        </div>
        <!-- Image -->
        <div class="relative mt-0 pt-0">

            <div class="absolute top-6 w-full flex justify-end items-center px-5 h-[100px] pt-6 ">


                <div class= " flex flex-col justify-center items-center bg-white w-[120px] h-[120px] rounded-2xl">
                    <p class=" text-[30px] text-gray-800 ">
                        Piso
                    </p>
                    <p class="text-follow text-[50px] -mt-6 font-bold ">
                        1
                    </p>
                </div>
            </div>

            <img src="https://winbox-assets.sfo3.digitaloceanspaces.com/followtest/IMG_1911.jpg" class="object-contain h-full w-full rounded-b-lg">
        </div>

    </section>
    <!-- Image Section -->
    <div class=" grid grid-cols-3 fixed h-[100px] justify-around content-center bg-white w-full scroll-pb-0 scroll-mb-0">
        <div ><MagnifyingGlass class=" text-lime-600 h-[100px] mx-auto w-[100px]"/></div>
        <div><MagnifyingGlass class=" text-lime-600 h-[100px] mx-auto w-[100px]"/></div>
        <div><MagnifyingGlass class=" text-lime-600 h-[100px] mx-auto w-[100px]"/></div>
    </div>

</body>