---
import Phone from 'astro-heroicons/outline/Phone.astro'
---

<body>
    <section class="text-center">
        <Phone class="h-[25px] w-[25px] text-center"/>
        <h3 class=" bg-slate-400 text-white text-center">Hola Mundo</h3>
    </section>
</body>