<div class="w-full max-w-sm p-6 m-auto mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex justify-center mx-auto h-[80px] w-[250px]">
        <!-- <Icon name="logo"/> -->
        <img class="h-full w-full " src="https://mediaweb.sfo3.cdn.digitaloceanspaces.com/logo.svg" alt="">
    </div>
</div>
