<div class="w-full max-w-sm p-6 m-auto mx-auto bg-white">
    <div class="flex justify-center mx-auto h-[90px] w-full">
        
        <!-- <Icon name="logo"/> -->
        <img class="h-full w-full " src="https://followme-assets.nyc3.cdn.digitaloceanspaces.com/FollowMeLogo.svg" alt="">
    </div>
</div>
