<div class="flex items-center justify-around w-full mx-4">
    <div class="flex justify-start items-center gap-1 ">
        <img src="https://followme-assets.nyc3.cdn.digitaloceanspaces.com/qr.svg" alt=""  class="h-[40px] w-[40px]">
        <p class=" text-follow text-base w-40">Iniciar nueva ruta</p>
    </div>

    <div class="">
        <img src="https://mediaweb.sfo3.cdn.digitaloceanspaces.com/logo.svg" alt=""  class="h-[38px] w-full">
    </div>
</div>
