---
import SearchUbication from '../components/search/Search.astro';
import ProgressIndicator from "../components/progress/ProgressIndicator.astro";
import Timeindicator from "../components/progress/TimeIndicator.astro";
import ImageProgress from "../components/progress/ImageProgress.astro";
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<main class=" bg-slate-300 min-h-screen overflow-y-hidden">

			<header class="h-[16vh] bg-white grid content-center ">
				<div class="grid grid-rows p-3">
					<SearchUbication/>
					<Timeindicator/>
					<ProgressIndicator/>
				</div>
			</header>
	
			<section class="h-[74vh] mx-4">
				<ImageProgress height="h-[74vh]"/>
			</section>
	
			<footer class="flex justify-center items-center bg-white h-[10vh]">
				<Footer>
			</footer>
		</main>
	</body>
</html>