---
import SearchUbication from '../components/search/Search.astro';
import MostSearchedSection from '../components/MostSearchedSection.astro';
import Footer from '../components/Footers/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
        <main class=" bg-white min-h-screen overflow-y-hidden">

            <header class="h-[10vh] grid grid-rows justify-items-center">
                <div class="grid grid-rows justify-items-center content-center w-full bg-white px-3">
                    <SearchUbication/>
                </div>
            </header>
    
            <section class=" h-[80vh] grid grid-rows content-center mx-4 ">
                <MostSearchedSection  height="h-[80vh]"/>
            </section>
    
            <footer class="flex justify-center items-center h-[10vh] w-full">
                <Footer height="h-[10vh]">
            </footer>
        </main>
	</body>
</html>